body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.toy-image {
    width: 100%; /* Ajustez la largeur selon vos besoins */
    max-width: 400px; /* Définissez une largeur maximale si nécessaire */
    height: auto;
    display: block; /* Assurez-vous que l'image ne dépasse pas de son conteneur */
    margin: 0 auto; /* Centrez l'image dans son conteneur */
}

.toy-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2 {
    color: #0056b3;
    margin: 0; /* Supprimer la marge par défaut du titre */
}

.pdf-icon {
    background-image: url('pdf_icon.png'); /* Remplacer par le chemin de votre icône PDF */
    background-size: contain;
    width: 50px; /* Ajuster la taille de l'icône selon vos besoins */
    height: 50px; /* Ajuster la taille de l'icône selon vos besoins */
    cursor: pointer;
}

a {
    color: #008CBA;
    text-decoration: none;
}

.toy-thumbnail {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.toy-thumbnail img {
    width: 100%;
    max-width: 200px;
    height: auto;
}
