body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.toy-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2 {
    color: #0056b3;
    margin: 0;
}

.pdf-icon {
    background-image: url('pdf_icon.png');
    background-size: contain;
    width: 1vw;
    height: 1vw;
    cursor: pointer;
    padding: 10%;
}

.toy-photos img {
    width: 100%; /* La largeur est de 100% de la largeur de son conteneur */
    height: auto;
    max-width: 100vw; /* La largeur maximale est de 100% de la largeur de l'écran */
    max-height: 100vh; /* La hauteur maximale est de 100% de la hauteur de l'écran */
    display: block;
    margin: 0 auto;
}

a {
    color: #008CBA;
    text-decoration: none;
}

.toy-thumbnail {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}

.toy-thumbnail img {
    max-width: 100%; 
    height: auto;
    display: block;
    margin: 0 auto;
}
